a:hover {
    text-decoration: none;
}

.inline {
}

body {
    background: url('../img/bg2.png');
}

#pager {
    background: transparent;
    width: 1206px;
    height: 100%;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.page {
    background: transparent;
    min-height: 577px;
    width: 400px;
}

#planning {
    position: absolute;
    left: 0;
}

.task, .rank {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    margin: 5px;
}

.rank {
    padding-left: 80px;
}

.rank img {
    float: left;
    margin-left: -70px;
    width: 60px;
    height: 60px;
}

.num {
    float: right;
}

#planning .list, #leaderboard .list {
    overflow-y: scroll;
    height: 100%;
    width: 382px;
    padding: 0 10px;
    position: absolute;
}

#add-task {
    position: absolute;
    bottom: -210px;
    left: 0px;
    width: 100%;
    
    border: #888 1px solid;
    border-radius: 5px;
    background: #B9B5B5;
}

#add-task div.form-inline {
    margin-bottom: 10px;
}

#add-task label {
    width: 70px;
}

#add-task input {
    width: 290px
}

#add-task select {
    width: 304px
}

#add-task fieldset {
    margin: 20px 0 20px 10px;
}

#leaderboard {
    position: absolute;
    left: 402px;
}

#profile {
    position: absolute;
    left: 804px;
}

.skip {
}

.skip:hover {
}

.done {

}

.done:hover {
    
}

#notification {
    position: absolute;
    left: 0;
    width: 382px;
    top: 0;
    background-color: #fcf8e3;
    text-align: center;
    padding: 10px;
    font-size: 130%;
    z-index: 1000;
}
