a:hover {
    text-decoration: none;
}

#pager {
    width: 1206;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.page {
    width: 402px;
}

#planning {
    position: absolute;
    left: 0;
}

#leaderboard {
    position: absolute;
    left: 402px;
}

#profile {
    position: absolute;
    left: 804px;
}

.skip {
}

.skip:hover {
}

.done {

}

.done:hover {
    
}
