a:hover {
    text-decoration: none;
}

.inline {
}

#pager {
    width: 1206;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.page {
    width: 392px;
    padding: 10px;
}

#planning {
    position: absolute;
    left: 0;
}

#add-task {
    background: #888
}

#add-task div.form-inline {
    margin-bottom: 10px;
}

#add-task label {
    width: 60px;
}

#leaderboard {
    position: absolute;
    left: 402px;
}

#profile {
    position: absolute;
    left: 804px;
}

.skip {
}

.skip:hover {
}

.done {

}

.done:hover {
    
}
